
 
 #wrapper{
  border-radius: 5px;
  border: 5px solid var(--grena);
  display: flex;
  flex-direction: column;
  
   width:80%;
   height: auto;

   /* Deixar o conteúdo ao meio */
   margin:0 auto;

 }

 #wrapper span{
   background-color: var(--amarelo);
   text-align: left;
   width: 100px;
 }
 #wrapper img {
  width:100%;
   height: auto;
   text-align: center;
   align-items: center;
 }

 #wrapper h1{
   color: var(--branco);
   font-size: 30px;
   margin: 15px;
  }

  #wrapper p{
    margin: 15px;
    color: var(--branco);
    margin-top: 15px;
    margin-bottom:10px;
    
    opacity: 0.7;
   }


:root {
  --grena:#581822;
  --azul: #012596;
  --amarelo: #deb500;
  --branco:#ffff
}


