*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: #282a36;
  font-family: 'Roboto', sans-serif;
}


a{
  color: var(--amarelo)
}

:root {
  --grena:#581822;
  --azul: #012596;
  --amarelo: #deb500;
  --branco:#ffff
}