.cards{
  max-width: 80vw;
  /* centralizar */
  margin: 0 auto;

  display:grid;
  grid-template-columns:  1fr 1fr;
  gap:20px

}

.card{
  background-color: var(--preto);
  border: 4px solid var(--grena);
  border-radius: 5px;
 
  margin: 0 auto;
  
}

.card_image_container img{
  width:100%; 
}

.card_content h1{
  color: var(--amarelo);
  padding: 24px;
  align-items: center;
}

.card_content p{
  color: var(--branco);
  padding: 24px;
}

.card_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--branco);
  padding: 24px;
  text-align: center;
  margin-left: 110 ;

 
}

 .time {
    background-color: var(--azul);
   
    padding: 5px 20px;
    border-radius: 25px;
    
 
}

.likes {
  background-color: var(--grena);
 
  padding: 5px 20px;
  border-radius: 25px;
  margin-left: 20px;

  display: flex;
  align-items: center;
  
  

}

.likes p {
  margin-left: 15px;
}

/* MODAL */

.modal-overlay{
  background-color: rgba(0,0,0,0.7);
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;

  opacity: 0;

  /* Esconder a função do botão , quando ele não aparecer. */
  visibility: hidden;
}

.modal{
  background-color: var(--branco);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal{
  color: var(--azul);
  /* Ele se torna absoluto dentro do quadrante branco pq há um position relative no pai */
  position: absolute;
  right: 8px;
  top:8px;
  cursor: pointer;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

:root {
  --grena:#581822;
  --azul: #012596;
  --amarelo: #deb500;
  --branco:#ffff;
  --preto:#000;
}


